*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}



header{
    background: linear-gradient(90deg, #000000, #0104a5);
    padding: 15px 40px;
}

.logo-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 45px;
    height: 45px;
}

.logo span{
    color: white;
    font-size: 28px;
    font-weight: bold;
}



nav{
    display: flex;
    gap: 25px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-size: 17px;
}

nav a:hover{
    color: #ffd43b;
}


main{
    padding: 30px;
}



.banner img{
    width: 100%;
    border-radius: 10px;
}



.conteudo{
    background-color: rgb(245, 245, 245);
    padding: 25px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.conteudo h2{
    margin-bottom: 15px;
    color: #0d57c7;
}

.conteudo p{
    margin-bottom: 15px;
    line-height: 1.7;
    font-size: 17px;
}

.conteudo ul{
    margin-left: 20px;
    margin-bottom: 20px;
}

.conteudo li{
    margin-bottom: 10px;
}

.conteudo img{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
}



table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

table, th, td{
    border: 1px solid #ccc;
}

th{
    background-color: #0d57c7;
    color: white;
}

th, td{
    padding: 12px;
    text-align: center;
}



footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}



@media(max-width:768px){

    .logo-menu{
        flex-direction: column;
        gap: 20px;
    }

    nav{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    nav a{
        margin: 5px;
    }

    .logo span{
        font-size: 24px;
    }

}